language: php
php:
  - 5.5
  - 5.6
  - 7.0
branches:
  only:
    master
before_install:
  - travis_retry composer self-update
  - composer install
script: phpunit --bootstrap vendor/autoload.php tests
